<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Libreria"
			 connectionString="Data Source=.;Initial Catalog=dbLibreria;Persist Security Info=True;User ID=sa;Password=sa;Encrypt=False"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>

